<!DOCTYPE html>
<html data-theme='corporate' lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - tpot_reader</title>
     <link
        href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css"
        asp-fallback-href="lib/daisyui/full.min.css"
        rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="lib/htmx/htmx.min.js"></script>
    <script src="lib/alpinejs/cdn.min.js" defer></script>
    <script src="~/lib/animejs/anime.min.js"></script>

    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</head>
<body x-data="setup_layout()"  :data-theme="selected_theme">
    <header>
      <partial name="Nav" />
    </header>
    <div class="container min-h-screen ">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - tpot_reader - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

<script src="js/sweet_alerts.js"></script>

<script src="js/stores.js"></script>

<script>

var previous = localStorage.getItem('theme') ?? "light";

function setup_layout() {
    console.log('setup_layout() initializing ...')
    return {
        slideOverOpen: false,
        my_github: 'https://github.com/nickpreston24?tab=repositories',
        get selected_box_icon_color() {
            return '#4af'  // todo: coordinate this with the current theme
        },
        get theme_fix() {
            console.log('selected_theme :>> ', this.selected_theme);
            let found = this?.theme_fixes[this.selected_theme] ?? '';
            return found;
        },
        get current_gradient() {
            console.log('selected_theme :>> ', this.selected_theme);
            let found = this?.gradients[this.selected_theme] ?? '';
            return found;
        },
        theme_fixes: {
            // some themes, like cupcake's text are so light, there is not enough contrast, so a darker text is necessary.
            cupcake: 'text-yellow-500',
        },
        gradients: {
            dark: "bg-gradient-to-l from-blue-500 to-violet-800",
            light: "bg-gradient-to-r from-cyan-500 to-blue-500",
            valentine: 'bg-gradient-to-r from-pink-500 to-rose-500',
            lemonade: 'bg-gradient-to-r from-teal-400 to-yellow-200',
            corporate: 'bg-gradient-to-r from-slate-100 to-blue-500',
            cupcake: 'bg-gradient-to-r from-fuchsia-500 to-cyan-500',
            pastel: 'bg-gradient-to-r from-violet-200 to-pink-200',
            ocean: 'bg-gradient-to-r from-blue-300 to-green-700',
            bumblebee: 'bg-gradient-to-r from-amber-200 to-yellow-400',
            emerald: 'bg-gradient-to-r from-lime-300 to-green-500',
            forest: 'bg-gradient-to-r from-emerald-500 to-emerald-900',
            coffee: 'bg-gradient-to-r from-amber-900 to-orange-950'
        },

        themes: [
            "light",
            "dark",
            "cupcake",
            "bumblebee",
            "emerald",
            "corporate",
            "synthwave",
            "retro",
            "cyberpunk",
            "valentine",
            "halloween",
            "garden",
            "forest",
            "aqua",
            "lofi",
            "pastel",
            "fantasy",
            "wireframe",
            "black",
            "luxury",
            "dracula",
            "cmyk",
            "autumn",
            "business",
            "acid",
            "lemonade",
            "night",
            "coffee",
            "winter",
            "dim",
            "nord",
            "sunset",
        ],
        selected_theme: previous
    }
}

</script>

</html>