
<div>

    <template x-for="[key, value] in Object.entries($store.views)">
        
        <div 
            class="flex items-center justify-center space-x-2">
            <input id="thisId" type="checkbox" name="switch" class="hidden" :checked="value.show">

            <button
                x-ref="toggle"
                type="button"
                x-on:click="value.show = ! value.show"
                :class="value.show ? 'bg-blue-600' : 'bg-neutral-200'"
                class="relative inline-flex h-6 py-0.5 ml-4 focus:outline-none rounded-full w-10"
                x-cloak>
                <span :class="value.show ? 'translate-x-[18px]' : 'translate-x-0.5'" class="w-5 h-5 duration-200 ease-in-out bg-white rounded-full shadow-md"></span>
            </button>

            <label x-on:click="$refs.toggle.click(); $refs.toggle.focus()" :id="$id('switch')"
                :class="{ 'text-blue-600': value.show, 'text-gray-400': ! value.show }"
                class="text-sm select-none"
                x-cloak>

            </label>
                <span x-text="key"/>

        </div>
    </template>
</div>
