@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <div
        hx-get
        hx-trigger='load'
        hx-page-handler="AllPapers"
    >loading papers ... </div>
</div>
